.d-flex {
    display: flex;
    justify-content: center;
}

.f-direction {
    flex-direction: column;
}

.h125 {
    height: 125px;
}

.w125 {
    width: 125px;
}

.b-r10 {
    border-radius: 10px;
}

.b-r50 {
    border-radius: 50%;
}

.bg1 {
    background: darkslateblue;
}

.bg2 {
    background: lightgray;
}

.bg3 {
    background: dodgerblue;
}

.color2 {
    color: lightgray;
}

.color1 {
    color: darkslateblue;
}

.color3 {
    color: dodgerblue;
}

.expander {
    flex-grow: 1;
}


.page {
    min-width: 480px;
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;

    flex-direction: column;

}

.header {
    /*height: 300px;*/
    padding-bottom: 20px;
    flex-direction: column;
    position: relative;
}

.nav__button {
    width: 60px;
    height: 60px;
    position: absolute;
    margin: -50px 350px;
    display: none;
    align-items: center;
    justify-content: center;
}

.nav__button span {
    display: inline-block;
    width: 80%;
    height: 7px;
    background: white;
    position: relative;

}

.nav__button span::before,
.nav__button span::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    top: -12px

}
.nav__button span::after {
    top:12px
}

.header__text {
    padding-right: 20px;

}

.header__menu {
    height: 70px;
    justify-content: space-around;
    align-items: center;
}

.menu__icon {
    height: 40px;
}

.banner, .banner_1__button {
    height: 25px;
}

.header_banner {
    flex-direction: column;
    align-items: center;
}

.banner__text {
    align-items: center;
    width: 40%;
}

.content {
    flex-grow: 1;
    flex-direction: column;
    padding: 50px 0;

}

.content__title {
    align-items: center;
    padding: 20px 0;

}

.content__body {
    grid-column-gap: 20px;
    flex-wrap: wrap;

}

.content-wrapper {
    width: 80%;
    border: 2px solid dodgerblue;
    margin: 0 auto;
}


.article {
    flex-direction: column;
    align-items: center;

}

.footer {
    padding: 50px 0;
}

.icons {
    width: 80%;
    justify-content: space-around;
    align-items: center;
}

.icon {
    padding: 20px;
    max-width: 130px;
    align-items: center;
    flex-direction: column;
    grid-row-gap: 10px;
}

.icon__wrapper {
    border: 2px solid dodgerblue;
}

.cards-wrapper {
    padding: 20px 0;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex-wrap: wrap;
}

.cards {
    flex-wrap: wrap;
    grid-column-gap: 50px;
    grid-row-gap: 30px;
}

.card {
    width: 150px;
    border: 2px solid blue;
    padding: 5px;

    align-items: center;

}

.picture {
    width: 145px;
    height: 90px;
}

.picture_description {
    align-self: center;

}

.information {
    justify-content: space-between;
    border-top: 2px solid blue;
    width: 100%;
}

.banners {
    width: 80%;
    padding: 50px 0;

}

.banner_1 {
    height: 200px;
    flex-grow: 2;
    padding-left: 20px;
}

.bottom {
    height: 150px;
}

.bottom__buttons {
    grid-column-gap: 10px;
}

.bottom__button {
    width: 30px;
    height: 30px;

}

.bottom__line {
    height: 3px;
    width: 30%;
    margin-top: 20px;
    align-self: center;
}
