body {
    margin: 0;
    background: gainsboro;
}

h1, h2 {
    color: lightseagreen;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
}

img {
    border-bottom: 5px solid blue;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    color: silver;
    height: 1px;
    width: 100%;
}

.content {
    color: indigo;

}

a:hover {
    color: cornflowerblue;
}

.mainHero {
    color: darkslateblue;

}

.characters > ul {
    background: cornflowerblue;
    width: 100%;
}

.cast > ol {
    background: darkcyan;
    width: 100%;
}